        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: Arial, Helvetica, sans-serif;
            color: #08202c;
        }
        
        .header {
            background-color: #daf3f8;
            font-size: 18px;
            color: #08202c;
            text-align: center;
            padding: 30px;
        }
        
        .header a {
            padding: 20px;
            font-size: 15px;
        }
        
        .header p {
            font-size: .85em;
            line-height: 1.392;
        }
        
        .header h1 {
            padding-bottom: 20px;
            font-size: 25px;
            letter-spacing: 8px;
            padding-top: 20px;
            color: #00B1D7;
        }
        
        .wrapper {
            width: 100%;
            height: 20vh;
            background-color: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .search_box {
            width: 50%;
            position: relative;
        }
        
        .search_box input[type="text"] {
            padding: 20px;
            padding-bottom: 10px;
            width: 100%;
            padding-right: 60px;
            box-sizing: border-box;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid #099cbd;
            outline: none;
            font-family: "Superior Title", Helvetica, sans-serif;
        }
        
         ::placeholder {
            font-size: 1.25em;
            color: #000;
            font-family: "Superior Title", Helvetica, sans-serif;
            padding: 10px;
        }
        
        .fa-search {
            position: absolute;
            top: 40%;
            left: 0;
            color: #099cbd;
        }
        
        #button {
            width: 12%;
            background-color: #10a3c2;
            font-size: large;
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 10px 10px;
            margin-left: 10px;
        }
        
        .contact_list {
            display: flex;
            padding: 40px;
            background-color: #fff;
            font-size: 15px;
        }
        
        .contact {
            padding: 18px;
        }
        
        .contact a {
            color: #099cbd;
            display: block;
        }
        
        .contact p {
            color: grey;
        }
        
        .agent_list {
            list-style: none;
            display: flex;
            
            padding: 50px;
       
            justify-content: center;
            font-size: 1rem;
        }
        
        .agent_list li {
            font-size: .75em;
            border-right: 1px solid #7f7f7f;
            font-weight: 500;
            line-height: 1.5em;
            text-transform: uppercase;
            padding-right: 18px;
            padding-left: 18px;
        }
        
        .agent_list a {
            text-decoration: none;
            font-size: 15px;
            color: black;
            font-weight: 300;
        }
        
        .agent_list :active {
            color: #099cbd;
        }
        
        .list_filter_all {
            color: #099cbd;
        }
        
        .agent_list li:last-child {
            border-right: 0;
        }
@media(min-width:320px) and (max-width:768px){
    .header{
        width: 100%;
    }
    .wrapper{
        display: inline-block;
        padding: 40px;
    }
    #button{
        width: 80%;
        padding-top: 10px;
        padding: 10px;
    }

    .search_box{
        padding-bottom: 15px;
        width: 100%;

    }
   .agent_list{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        
    }
    .contact_list{
        display: inline-block;
        padding-left: 0;
    }
    .contact{
        display: flex;
    }
    .avatar{
        width: 80px;
        height: 80px;
    }
    .contact_details{
          font-size: 10px;
          padding-left: 15px;
    }
    .contact_details p{
        display: none;
    }
  
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    .header{
        width: auto;
    }
    .wrapper{
        height: 10vh;
    }
    .agent_list{
        display: flex;
        flex-wrap: wrap;
    }
}
